<section>
<h2>Regístrarse</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @validatable %>
    <em>( Minimo <%= @minimum_password_length %> caracteres)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :apellido %><br />
    <%= f.text_field :apellido, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :DNI %><br />
    <%= f.text_field :DNI, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :RUC %><br />
    <%= f.text_field :RUC, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :direccion %><br />
    <%= f.text_field :direccion, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :telefono %><br />
    <%= f.text_field :telefono, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :fecha_nacimiento %><br />
    <%= f.date_field :fecha_nacimiento, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Resgístrarse" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</section>