<section class="productos">
  <h2>Catálogo de productos</h2>
  <% @products.each do |product| %>
    <article class="producto">
      <%= image_tag(product.image_url) %>
      <h3><%= product.title %></h3>
      <p><%= product.description %></p>
      <%= link_to 'Mostrar', product %>
      <%= link_to 'Editar', edit_product_path(product) %>
      <%= link_to 'Eliminar', product, method: :delete, data: { confirm: 'Está seguro?' } %>
    </article>
  <% end %>
  <%= link_to 'Nuevo producto', new_product_path %>
</section>
